* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Italic.ttf) format('truetype');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/Montserrat-Bold.ttf) format('truetype');
}
body {
  background-color: #ebebeb;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
}
.App {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
.app_main-title {
  color: #e9d9d8;
  font-size: 68px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 30px;
}
.TodoForm_form__\+01jw {
  position: relative;
}
.TodoForm_formSubmitButton__YGzwg {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  border: none;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 15px;
  position: absolute;
  top: 25%;
  width: 40px;
}
.TodoForm_formInput__-TTSa {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-shadow: 0 2px 2px 2px #dadada;
  color: #4d4d4d;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  height: 80px;
  outline: none;
  padding: 10px 10px 10px 80px;
  width: 100%;
}
.TodoForm_formInput__-TTSa::placeholder {
  color: #888;
  font-style: italic;
  opacity: 0.3;
}
.TodoForm_icon__N2jAf {
  fill: #e6e6e6;
  display: block;
  height: 40px;
  transition: 0.7s;
  width: 40px;
}
.TodoForm_icon__N2jAf:hover {
  fill: #4d4d4d;
  transform: scale(1.2);
}
.Todo_todo__JGmyt {
  align-items: center;
  background-color: #fefefe;
  box-shadow: 0 2px 2px 2px #dadada;
  color: #4d4d4d;
  display: flex;
  min-height: 80px;
  padding: 10px 10px 10px 80px;
}
.Todo_todoContainer__Km0A5 {
  position: relative;
}
.Todo_checkboxWrapper__d\+HKn {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.Todo_checkboxWrapper__d\+HKn,
.Todo_label__2ZSWJ {
  border-radius: 50%;
  height: 40px;
  position: absolute;
  width: 40px;
}
.Todo_label__2ZSWJ {
  background-color: #0000;
  border: 1.5px solid #ededed;
  cursor: pointer;
  left: 15px;
  opacity: 1;
  top: 0;
  transition: 0.7s;
}
.Todo_label__2ZSWJ:hover {
  border-color: #ebebeb;
  transform: scale(1.2);
}
.Todo_label__2ZSWJ:before {
  bottom: 17px;
  left: 10px;
  transform: rotate(-55deg);
  width: 26px;
}
.Todo_label__2ZSWJ:after,
.Todo_label__2ZSWJ:before {
  background-color: #7bc2b1;
  content: '';
  height: 2px;
  opacity: 0;
  position: absolute;
}
.Todo_label__2ZSWJ:after {
  bottom: 10px;
  left: 6px;
  transform: rotate(45deg);
  width: 12px;
}
.Todo_checkbox__9UbhH {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  display: none;
  height: 40px;
  opacity: 0;
  width: 40px;
}
.Todo_checkbox__9UbhH:checked + .Todo_label__2ZSWJ {
  border-color: #caddda;
}
.Todo_checkbox__9UbhH:checked + .Todo_label__2ZSWJ:after,
.Todo_checkbox__9UbhH:checked + .Todo_label__2ZSWJ:before {
  opacity: 1;
}
.Todo_completedTodo__6dI8L {
  opacity: 0.3;
  text-decoration: line-through;
}
.Todo_todoText__9yE\+P {
  max-width: 510px;
  overflow-wrap: break-word;
  text-align: left;
  white-space: normal;
}
.TodosActions_todosActionsWrapper__Od9Bl {
  align-items: center;
  background-color: #fefefe;
  box-shadow: 0 2px 2px 2px #dadada;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.TodosActions_incompleteTodoCounter__gh7Cv {
  color: #8f8f8f;
  font-size: 16px;
}
.TodosActions_deleteButton__9RzIR {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  border: none;
  border-radius: 7px;
  color: #8f8f8f;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 10px;
  transition: 0.7s;
}
.TodosActions_deleteButton__9RzIR:hover {
  color: #e9d9d8;
}
.TodosActions_deleteButton__9RzIR:active {
  opacity: 0.3;
}
.FilterButtons_button__KOJLz {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  border: none;
  border-radius: 7px;
  color: #8f8f8f;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 4px 10px;
  transition: 1s;
}
.FilterButtons_button__KOJLz:disabled {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #e9d9d8;
}
.FilterButtons_buttonWrapper__ftnXt {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
.FadingText_fadeContainer__gZ3Hx {
  height: 100px;
  margin-bottom: 30px;
  margin-top: 40px;
  position: relative;
  width: 100%;
}
.FadingText_fadeText__vAndx {
  color: #8f8f8f;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 1s ease-in-out;
  width: 100%;
}
.FadingText_fadeText__vAndx.FadingText_show__vRO0B {
  opacity: 1;
}
/*# sourceMappingURL=main.23233113.css.map*/
